:root {
  --15px-strike-through-font-family: "CircularStd-Book", Helvetica;
  --15px-strike-through-font-size: 15px;
  --15px-strike-through-font-style: normal;
  --15px-strike-through-font-weight: 400;
  --15px-strike-through-letter-spacing: 0px;
  --15px-strike-through-line-height: 160.0000023841858%;
  --body-main-regular-15px-font-family: "CircularStd-Book", Helvetica;
  --body-main-regular-15px-font-size: 15px;
  --body-main-regular-15px-font-style: normal;
  --body-main-regular-15px-font-weight: 400;
  --body-main-regular-15px-letter-spacing: 0px;
  --body-main-regular-15px-line-height: 160.0000023841858%;
  --body-supporting-regular-12px-font-family: "CircularStd-Book", Helvetica;
  --body-supporting-regular-12px-font-size: 12px;
  --body-supporting-regular-12px-font-style: normal;
  --body-supporting-regular-12px-font-weight: 400;
  --body-supporting-regular-12px-letter-spacing: 0px;
  --body-supporting-regular-12px-line-height: 129.99999523162842%;
  --bottom-modal-shadow: 0px -5px 25px 0px rgba(0, 0, 0, 0.1);
  --fixed-colorsline-outlines: rgba(227, 227, 227, 1);
  --fixed-colorsmain-background: rgba(255, 255, 255, 1);
  --fixed-colorsuntitledbackground-overlay: rgba(0, 0, 0, 0.6);
  --h1-regular-23px-font-family: "CircularStd-Book", Helvetica;
  --h1-regular-23px-font-size: 23px;
  --h1-regular-23px-font-style: normal;
  --h1-regular-23px-font-weight: 400;
  --h1-regular-23px-letter-spacing: 0px;
  --h1-regular-23px-line-height: normal;
  --labels-legal-text-regular-10px-font-family: "CircularStd-Book", Helvetica;
  --labels-legal-text-regular-10px-font-size: 10px;
  --labels-legal-text-regular-10px-font-style: normal;
  --labels-legal-text-regular-10px-font-weight: 400;
  --labels-legal-text-regular-10px-letter-spacing: 0px;
  --labels-legal-text-regular-10px-line-height: 129.99999523162842%;
  --standard-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
  --state-colorserror-or-negative: rgba(217, 30, 24, 1);
  --state-colorssuccess-or-positive: rgba(0, 128, 0, 1);
  --text-colorsprimary: rgba(33, 33, 33, 1);
  --text-colorssecondary: rgba(114, 114, 114, 1);
  --text-colorswhite: rgba(255, 255, 255, 1);
  --theme-colorsaccent-color: rgba(0, 0, 0, 1);
}
